
.hints_box {
    background-color: rgba(0, 0, 0, 0.526);
    border-radius: 15px;
    padding: 20px;
    width: 300px;
}

ol {
   margin: auto;
}

li {
    margin-bottom: 8px;
    list-style-position: inside;
    text-align: justify;
}